* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  background: white;
  display: grid;
  place-items: center;
}

#bogan-video {
  width: fit-content;
  display: grid;
  place-items: center;
  border-radius: 10px;
  overflow: hidden;
}
